.checkbox {
  display: none;
}
.background{
  display: none;
}
.button{
  display: none;
}
header {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color:rgba(252, 208, 1, 1);

}

.nav{
  display: flex;
  justify-content: space-between;
}
.list{
    display: flex;
    justify-content: space-between;
    gap:40px;
  }

  .menu{
    padding-bottom: 45px;
  }

.link{
  font-family: Anonymous Pro;
  font-weight: 400;
  color: black;
  font-size: 20px;
  line-height: 20px;
}

.link-dip{
  color: #000000;
  font-weight: 700;
}
.Profi{
  display: block;
  text-align: center;
}

.Profi-main-text{
  display: block;
  text-align: center;
  margin-bottom: 53px;
  font-family: Days Sans Black;
  font-weight: 400;
  color: #000000;
  font-size: 64px;
  line-height: 74px;
}

.profi-text {
  margin-bottom: 95px;
  font-family: Anonymous Pro;
  font-weight: 700;
  color: black;
  font-size: 24px;
  line-height: 24px;
}

.profi-inline{
  border-bottom:solid  6px;
}

.menu-button{
  display: flex;
  justify-content: center;
  gap: 12px;
}

.button-menu {
  font-family: Anonymous Pro;
  font-weight: 400;
  color: black;
  padding: 12px 18px;
  border:solid 3px black;
  border-radius:11px;
  font-size: 24px;
  line-height: 24px;
  background-color:white;
}

.button-menu:hover {
  background-color: rgba(252, 208, 1, 1)  ;
}

.button-menu:focus-visible {
  border: orange solid;
  background-color: rgba(252, 208, 1, 1)  ;
}

.button-menu:active {
  border:solid 3px orange ;
  background-color: rgba(252, 208, 1, 1)  ;
}

@media (max-width: 1500px){
  .list{
    display: block;
  }
  .nav{
    display: block;
  }
  .background{
    display: block;
  }
  .button{
    display: block;
  }
.button {
  position: relative;
  background-color: white;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  position: fixed;
  top: 5vh; 
  right: 5vw; 
  z-index: 2000;
  box-shadow: 0 1rem 3rem black;
  text-align: center; 
  cursor: pointer;
}

.background {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  position: fixed;
  top: 5.5vh; 
  right: 5.5vw; 
  background-image: radial-gradient(green, black);
  z-index: 1000;

  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

.nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: -60vw;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s;
}

.list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}

.item {
  margin: 1rem;
  font-size: 36px;
}

.link:link,
.link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    white 50%
  );
  background-size: 220%;
  transition: all 0.4s;
}

.link:hover,
.link:active {
  color: lightgreen;
  cursor: pointer;
}

/* functionality */
.checkbox:checked ~ .background {
  transform: scale(80);
}
.checkbox:checked ~ .nav {
  opacity: 1;
  width: 100%;
  right: 0;
}


.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon,
.icon::before,
.icon::after {
  width: 3rem;
  height: 2px;
  background-color: gray;
  display: inline-block;
}

.icon::before,
.icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}

.icon::before {
  top: -0.8rem;
}
.icon::after {
  top: 0.8rem;
}

.button:hover icon:before {
  top: -1rem;
}
.button:hover icon::after {
  top: 1rem;
}

.checkbox:checked + .button .icon {
  background-color: transparent;
}

.checkbox:checked + .button .icon::before {
  top: 0;
  transform: rotate(135deg);
}
.checkbox:checked + .button .icon::after {
  top: 0;
  transform: rotate(-135deg);
}
}

.background-slogan{
  background-color:black;
}
.slogan{
  padding-top: 32px;
  padding-bottom: 32px;
}

.main-slogan{
  color: white;
  text-align: center;
  font-family: Anonymous Pro;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
}